::placeholder {
  color: gray;
}

.select-container {
  display: flex;
  justify-content: center;
  align-self: stretch;
  position: relative;
  height: 50px;
}

.select-box {
  border: none;
  appearance: none;
  padding: 0 30px 0 15px;
  width: 100%;
  color: gray;
  background-color: var(--color-whitesmoke);
  font-size: 20px;
}


.registration {
  position: relative;
  font-size: 2.5rem;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  font-family: var(--font-inria-sans);
  color: var(--color-black);
  text-align: center;
  width: 30.81rem;
  height: 2.5rem;
  flex-shrink: 0;
}
.noun-admin-2279755-2-icon {
  position: relative;
  width: 6.25rem;
  height: 4.88rem;
  object-fit: cover;
}
.admin1,
.admin2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.02em;
  line-height: 150%;
  font-family: var(--font-inria-sans);
  color: var(--color-gray-200);
  text-align: center;
}
.admin1 {
  border-radius: var(--br-2xl);
  background-color: #fa8282;
  width: 9.81rem;
  height: 8.75rem;
  flex-direction: column;
  padding: 1rem 0;
  box-sizing: border-box;
}
.admin,
.program-owner1 {
  align-self: stretch;
  flex: 1;
}
.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.program-owner1 {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 150%;
  font-family: var(--font-inria-sans);
  color: var(--color-gray-200);
  text-align: center;
}
.program-owner {
  border-radius: var(--br-2xl);
  background-color: #73c2ee;
  width: 9.81rem;
  height: 8.75rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.program-owner:hover {
  gap: 0;
}
.name,
.username1,
.password1,
.confirm-password,
.role {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.radiobuttons {
  margin: 0;
  height: 8.94rem;
  flex-direction: row;
  padding: 0 1.25rem;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 0.19rem;
}
.name,
.username1,
.password1,
.confirm-password,
.role {
  flex: 1;
  position: relative;
  font-size: var(--font-size-9xl);
  letter-spacing: 0.02em;
  line-height: 150%;
  font-family: var(--font-inria-sans);
  color: var(--color-gray-200);
  text-align: left;
}
.vector-icon {
  position: relative;
  width: 1.98rem;
  height: 2.12rem;
}
.inputname,
.enter-username,
.input-password,
.input-password1 {
  border: 0;
  font-family: var(--font-inria-sans);
  font-size: var(--font-size-xl);
  background-color: transparent;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.full-name,
.namefield,
.rolefield{
  align-self: stretch;
  display: flex;
}
.full-name {
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke);
  height: 3.18rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 0 0 var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.namefield,
.rolefield{
  height: 5.87rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.vector-icon1 {
  position: relative;
  width: 1.94rem;
  height: 1.94rem;
}

.username,
.usernamefield {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.usernamefield {
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke);
  height: 2.88rem;
  flex-direction: row;
  padding: 0 0 0 var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-xs);
}
.username {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.confirmationfield,
.fields {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.confirmationfield {
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke);
  height: 2.88rem;
  flex-direction: row;
  padding: var(--padding-4xs) 0 var(--padding-4xs) var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-xs);
}
.fields {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.44rem;
}
.register1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 2rem;
  letter-spacing: 0.01em;
  line-height: 0%;
  font-family: var(--font-inria-sans);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.buttonregister,
.main {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.buttonregister {
  border-radius: 48px;
  background-color: #5390b3;
  width: 16.25rem;
  height: 3.63rem;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-11xl);
  justify-content: center;
}
.main {
  position: absolute;
  top: calc(50% - 447px);
  left: calc(50% - 269px);
  border-radius: var(--br-2xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  width: 33.63rem;
  height: 40rem;
  flex-direction: column;
  padding: var(--padding-11xl);
  justify-content: space-between;
}
.pc-admin-register-page {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 64rem;
  overflow: hidden;
}
