.account-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
}

.usernamefield,
.confirmationfield {
  display: flex;
  justify-content: center;
  align-items: center;

}

.rolefield{
  display: flex;
  align-items: center;

}

