body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inria-sans: "Inria Sans";
  --font-inria-serif: "Inria Serif";

  /* font sizes */
  --font-size-xl: 1.25rem;
  --font-size-9xl: 1.75rem;
  --font-size-5xl: 1.5rem;

  /* Colors */
  --color-gainsboro: #d7e8ea;
  --color-white: #fff;
  --color-firebrick: #a72222;
  --color-black: #000;
  --color-whitesmoke: #f6f6f6;
  --color-darkgray: #aeaeae;
  --color-gray-200: #232323;

  /* Gaps */
  --gap-8xl: 1.69rem;
  --gap-lgi: 1.19rem;
  --gap-xs: 0.75rem;

  /* Paddings */
  --padding-13xl: 2rem;
  --padding-31xl: 3.13rem;
  --padding-3xs: 0.63rem;
  --padding-11xl: 1.88rem;
  --padding-mini: 0.94rem;
  --padding-4xs: 0.56rem;
  --padding-xs: 0.75rem;

  /* border radiuses */
  --br-mini: 15px;
  --br-11xl: 30px;
  --br-2xl: 21px;
  --br-7xs: 6px;
  --br-5xs: 8px;
}
